html {
  background-color: beige;
  box-sizing: border-box;
}
html > * {
  box-sizing: inherit;
}
body {
  background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0, goldenrod),
    color-stop(30%, goldenrod),
    color-stop(30%, steelblue),
    color-stop(100%, steelblue)
	);
  max-width: 1000px;
  margin: 0 auto;
  font-family: Calibri, Arial, sans-serif;
}
header {
  background-color: black;
  padding: 1em;
  margin: 0;
}
header h1 a {
color: white;
text-decoration: none;
}
header h1 a:hover {
  color: skyblue;
}
main {
  padding: 1em;
}
main h2 a {
  color: black;
}
main a{
  color: beige;
  text-decoration: none;
}
main a:hover {
  color: goldenrod;
}
aside {
  padding: 1em;
}
aside li a {
  color: #654321;
  text-decoration: none;
}
aside li a:hover {
  color: steelblue;
}
section.pagination {
  padding: 1em;
}
section.pagination a {
  background-color: goldenrod;
  color: black;
}
footer {
  background-color: black;
  padding: 1em;
}
footer small {
  color: white;
  text-decoration: none;
}

/************************form controls*/
form {
  width: 50%;
}
input, textarea, label {
  display: block;
  width: 100%;
  margin: .2em 0;
}
input.submit {
  margin-top: 1em;
}

/*******************************media queries***********/
@media screen and (min-width: 500px) {
  main {
    width: 70%;
    float: left;
    box-sizing: border-box;
  }
  aside {
    width: 30%;
    float: left;
    box-sizing: border-box;
  }
  footer {
    clear: both;
  }
}
