*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  background: beige;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
#home {
  background: url("../images/guitar.gif") no-repeat;
  background-size: cover;
}
#login {
  background: url("../images/login.gif") no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#about {
  background: url("../images/about.gif") no-repeat;
  background-size: cover;
}
header {
  height: 5em;
}
header h1 {
  float: left;
  margin: 0 auto;
}
header ul {
  float: right;
}
header ul li {
  list-style-type: none;
  float: left;
}
header ul li a {
  color: goldenrod;
  text-decoration: none;
}
#login h1 {
  color: white;
}
aside {
  width: 30%;
  background color: rgba(0, 0, 0, 0.5);
  color: white;
}
aside h2 img{
  width: 100%;
}
aside p {
  color: #B23825;
}
main h1 {
  color: white;
}
main p {
  color: white;
}
footer {
  height: 5em;
  background-color: black;
}
footer small {
  float: left;
  color: white;
}
footer ul {
  width: 30%;
  float: right;
  padding: 0;
  margin: 0;
}
footer ul li {
  list-style-type: none;
  width: 12%;
  border: 1px solid white;
  float: left;
}
footer ul li a img {
  width: 100%;
}

/************************form controls*/
form {
  width: 40%;
  color: white;
}
input, textarea, label {
  display: block;
  margin: .2em 0;
}
form p {
  text-align: center;
}
fieldset {
  border: none;
}
fieldset label {
  float: left;
  width: 30%;
  text-align: center;
}
fieldset input {
  display: inline;
}
form input.terms {
  display: inline;
  width: auto;
}
label.terms a {
  color: white;
  text-decoration: none;
}
label.terms a:hover {
  color: goldenrod;
}
input.submit {
  display: block;
  width: 30%;
  background-color: goldenrod;
  margin-top: 1em;
  padding: .5em;
  border: 2px solid #B23825;
  border-radius: 10px;
  text-align: center;
}
div.feedback {
  color: white;
}

/************Media Queries **********************************/
@media only screen and (min-width: 300px) {
header h1 a img {
  width: 75%;
}
}
@media only screen and (min-width: 500px) {
  header h1 a img{
    width: 40%;
  }
}
