*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  background: beige;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}
#home {
  background: url("../images/guitar.gif") no-repeat;
  background-size: cover;
}
#login {
  background: url("../images/login.gif") no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#about {
  background: url("../images/about.gif") no-repeat;
  background-size: cover;
}



/************Media Queries **********************************/
@media only screen and (min-width: 320px) {
  body {
    background-color: : black;
    padding: 1em;
  }
  #login h1 {
    color: white;
  }
  aside p {
    color: #B23825;
  }
  main h1 {
    color: white;
  }
  main p {
    color: white;
  }
  header div {
    width: 100%;
    margin: 0 auto;
  }
  header a img {
    width: 100%;
  }
  header ul {
    float: right;
  }
  header ul li {
    list-style-type: none;
    float: left;
    margin: 0 .5em 1em 0;
  }
  header ul li a {
    color: goldenrod;
    font-size: 1.2em;
    text-decoration: none;
  }
  header ul li a:hover {
    color: white;
  }
  aside {
    background color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  aside div {
    width: 60%;
    margin: 0 auto;
  }
  aside img {
    width: 100%;
  }
  aside p {
    color: #B23825;
    text-align: center;
  }
  main {
    width: 100%;
  }
  main h1 {
    color: white;
  }
  main p {
    color: white;
  }
  /************************form controls*/
  form {
    width: 100%;
    color: white;
  }
  input, label {
    width: 100%;
    display: block;
    margin: .3em 0;
  }
  form p {
    text-align: center;
  }
  fieldset {
    border: none;
  }
  fieldset label {
    float: left;
    width: 30%;
    text-align: center;
  }
  fieldset input {
    display: inline;
  }
  form input.terms,
  form label.terms {
    display: inline;
    width: auto;
  }
  label.terms a {
    color: white;
    text-decoration: none;
  }
  label.terms a:hover {
    color: goldenrod;
  }
  input.submit {
    display: block;
    width: 30%;
    background-color: goldenrod;
    margin-top: 1em;
    padding: .5em;
    border: 2px solid #B23825;
    border-radius: 10px;
    text-align: center;
  }
  div.feedback {
    color: white;
  }
  footer {
    background-color: black;
    height: 4em;
  }
  footer small {
    color: white;
  }
  footer ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
  }
  footer ul li {
    list-style-type: none;
    float: left;
    width: 25%;
    padding: 0;
  }
  footer ul li a img {
    width: 100%;
    padding: 0 1em 0 1em;
  }
}
/*@media only screen and (min-width: 500px) {
  footer {
    height: 3em;
    background-color: black;
  }
  footer small {
    float: left;
  }
  footer ul {
    width: 30%;
    float: right;
    padding: 0;
    margin: 0;
  }
  footer ul li {
    width: 12%;
    border: 1px solid white;
    float: left;
  }
}*/
